<div id="edit-food">
  <div *ngIf="childSelectedFood">
    <h3>{{selectedFood.name}}</h3>
    <hr>
    <h3>Edit Selection</h3>
    <div class="form-group">
      <label>Enter Food name:</label>
      <input class="form-control" [(ngModel)]="selectedFood.name">
    </div>
    <div class="form-group">
      <label>Enter Food Description:</label>
      <input class="form-control" [(ngModel)]="selectedFood.description">
    </div>
    <div class="form-group">
      <label>Enter Calories:</label>
      <input class="form-control" [(ngModel)]="selectedFood.calories">
    </div>
    <button (click)="updateFood(selectedFood)">Update
</div>
