body {
  background-image: url('./assets/background.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 5%;
}

.container {
  color: #fff;
}

#add-food-form {
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border: solid red 4px;
  
}

#food-tiles,
div#food-detail {
  width: 50%;
}

div#food-detail button {
  color: #000;
}

#food-tiles:hover {
  cursor: pointer;
}

div.well {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  box-shadow: 1px -1px 2px, inset 1px 1px 2px;
  border: none;
}
div.well input,
div.well button {
  color: #000;
}
