<h3>Add New Food Entry</h3>
<div id="new-food-form" class="well">
  <div>
    <label>Food Name:</label>
    <br>
    <input class="form-control" #newName required="">
  </div>

  <div>
    <label>Food Description:</label>
    <br>
    <input class="form-control" #newDescription>
  </div>

  <div>
    <label>Calories:</label>
    <br>
    <input class="form-control" #newCalories>
  </div>
  <br>
  <button class="btn btn-default" (click)="submitForm(newName.value, newDescription.value, newCalories.value); newName.value='';
  newDescription.value=''; newCalories.value=''">Add</button>
</div>
<div class="well">
  <app-home></app-home>
</div>
